.section__title{
    color: var(--color--grey--3);
    font-size: var(--text--size--1);
    line-height: 72px;
    margin: 10px;

}
.section__title--highlight{
    color: var(--brand--color--1);
}
.section__text{
    color: var(--color--grey--5);
    width: 50%;
    font-size: var(--text--size--5);
    line-height:30px;
    text-align: center;
}
.header__title{
    color: var(--color--grey--3);
    font-size:var(--text--size--3) ;
    font-weight: 600;
}
.presentation__title{
    color: var(--color--grey--3);
    font-size: var(--text--size--3);
    font-weight: 600;
}
.presentation__text{
    color: var(--color--grey--4);
    font-size: var(--text--size--5);
    font-weight: 400;
    line-height: var(--line--size--0);

}
.faq__title{
    color:  var(--color--grey--3);
    font-size: var(--text--size--2);
    font-weight: 600;
}
.faq__text{
    color:  var(--color--grey--5);
    font-size: var(--text--size--6);
    font-weight: 400;
    width: 70%;
    line-height: 27px;
}
.faq-item__question{
    font-size: var(--text--size--4);
    font-weight: 600;
    text-align: center;
    color: var(--color--grey--3);
    
}
.faq-item__answer{
    font-size:var(--text--size--5);
    font-weight: 400;
    color: var(--color--grey--5);
    line-height: var(--line--size--0);
}
.testimonial__name{
    font-size: var(--text--size--5);
    font-weight: 500;
    color: var(--color--grey--3);
    line-height: var(--line--size--1);
}

.testimonial__info{
    font-size: var(--text--size--8);
    font-weight: 400;
    line-height: var(--line--size--1);
    color: var(--color--grey--5);
}
.testimonial__text{
    font-weight: 400;
    font-size: var(--text--size--8);
    line-height: var(--line--size--1);
    color: var(--color--grey--3);
}
.section__subtitle{
    font-size: var(--text--size--3) ;
    color: var(--color--grey--3);
    font-weight: 600;
    line-height: var(--line--size--2);
}
.feedback__text{
    font-size:var(--text--size--6) ;
    color: var(--color--grey--3);
    font-weight: 400;
    line-height: var(--line--size--1);
}
.footer__text{
    color: var(--color--grey--3);
    font-size: var(--text--size--5);
    font-weight: 600;
}
.modal__title{
    color: var(--color--grey--3);
    font-size: var(--text--size--5);
    line-height: var(--line--size--0);
    font-weight: 600;
}
.modal__text{
    color: var(--color--grey--4);
    font-size: var(--text--size--8);
    line-height: 24px;
}